vendor/
back/var/log/*
back/var/sessions/*
back/var/cache/*
back/.env
back/.env.local
back/var/.phpunit.result.cache
back/public/bundles/
back/node_modules/
back/.DS_Store
back/.idea/
back/.vscode/
front/.DS_Store
front/.idea/
front/.vscode/
front/node_modules/
scraper/node_modules
scraper/.DS_Store
scraper/.idea/
scraper/.vscode/
docker/env/*